{% extends 'newsletter/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<!--MAIN CONTENT-->
<main class="page__content">
        <section class="g-container">
            <figure class="content404">
                    <img src="{% static 'site/img/news.png' %}" class="content404__img" alt="Page 404" />
                <figcaption class="content404__entry">
                        <h1>{% trans "Newsletter update" %} {{ newsletter.title }}</h1>

                        <p>{% trans "Your update request was successfully received and an activation email has been sent to you. In that email you will find a link which you need to follow in order to update your subscription." %}</p>
                    
                </figcaption>
            </figure>
             
        </section>
    </main>
	<!--/MAIN CONTENT-->
{% endblock %}