{% extends 'newsletter/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<!--MAIN CONTENT-->
<main class="page__content">
        <section class="g-container">
            <figure class="content404">
                    <img src="{% static 'site/img/news.png' %}" class="content404__img" alt="Page 404" />
                <figcaption class="content404__entry">
                        <h1>{% trans "Newsletter subscribe" %} {{ newsletter.title }}</h1>

                        <p>Welcome, {{ user }}!</p>
                        
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        {% trans "Do you want to subscribe to this newsletter?" %}
                        <form enctype="multipart/form-data" method="post" action="{% url "newsletter_subscribe_confirm" newsletter.slug %}">
                            {% csrf_token %}
                            <p><input id="id_submit" name="submit" value="{% trans "Subscribe" %}" type="submit" /></p>
                        </form>
                        {% endif %}
                </figcaption>
            </figure>
             
        </section>
    </main>
	<!--/MAIN CONTENT-->
{% endblock %}